//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

.voting-result
  .mobile-vote
    router-link.button.primary(
      v-if="voting && !voting.didIVote"
      v-bind:to="{ name: 'voting:vote', params: { groupId, votingId }}"
    ) {{ $t("RESULT.SHARE_MOOD") }}
    //- Show this when no votes
    router-link.button.primary(
      v-if="nobodyHasVotedYet"
      v-bind:to="{ name: 'voting:vote', params: { groupId, votingId }}"
    ) {{ $t("RESULT.BE_THE_FIRST") }}

  .title-container.title-container-mobile
    h1 {{ selectedGroup.name }}
    .row
      h2 {{ $t("RESULT.LAST_POOL_RESULT") }}
      span.time(v-if="voting") {{ $d(voting.createdAtDateTime) }}
  .main-container
    //- Remove Empty class if is not empty
    .graphic-section.empty
      .title-container.title-container-full
        h1 {{ selectedGroup.name }}
      .graphic-container
        p.delete-when-graphic Aqui va una grafica
    .mood-section
      .mood-container
        .average-mood
          .title-container.title-container-large
            h2 {{ $t("RESULT.LAST_POOL_RESULT") }}
          AverageMood(
            v-if="stats"
            :moodAverage="stats.average | numeral('0.0') "
            :averagePercentil="stats.voteAveragePercentile"
          )
        .participation-container
          .title-container.title-container-participation.date.no-margin
            span.time(v-if="voting") {{ $d(voting.createdAtDateTime, 'long') }}
          .participation-info
            //- Hide template if there is no data
            template
              .row
                .title {{ $t("RESULT.PARTICIPATION") }}
                .amount
                  span {{ stats ? stats.voteCount : '-' }}
                  span /
                  span {{ stats ? stats.maxVoteCountExpected : '-' }}
              .people {{ $t("RESULT.USUALLY") }} {{ stats ? stats.voteCountAverage : '-' }} {{ $t("RESULT.PEOPLE_PARTICIPATE") }}
            .participation
              template(v-if="voting && voting.didIVote") {{ $t("RESULT.ALREADY_VOTED") }}
              template(v-if="voting && !voting.didIVote") {{ $t("RESULT.NOT_PARTICIPATE") }}
            router-link.button.primary.desktop(
              v-if="!nobodyHasVotedYet && !voting.didIVote"
              v-bind:to="{ name: 'team:vote', params: { groupId, votingId }}"
            ) {{ $t("RESULT.SHARE_MOOD") }}
            //- Show this when no votes
            router-link.button.primary.desktop(
              v-if="nobodyHasVotedYet"
              v-bind:to="{ name: 'team:vote', params: { groupId, votingId }}"
            ) {{ $t("RESULT.BE_THE_FIRST") }}
      .mood-sorter-section
        MoodSorter(:stats="stats")
        .loading-holder(v-if="isLoading")
          Loader
  .list-container
    vote-list(v-if="voting" :voting="voting")
