//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

.voting-result(
  v-touch:swipe="swipeHandler"
)
  dialog-team-leave(:group="selectedGroup")
  dialog-team-members(:group="selectedGroup")
  .mobile-vote
    router-link.button.primary(
      v-if="canShareMood"
      v-bind:to="{ name: 'team:vote', params: { groupId, votingId }}"
    ) {{ $t("RESULT.SHARE_MOOD") }}
    //- Show this when no votes
    router-link.button.primary(
      v-if="imFirst"
      v-bind:to="{ name: 'team:vote', params: { groupId, votingId }}"
    ) {{ $t("RESULT.BE_THE_FIRST") }}

  .title-container.title-container-mobile
    .title-wrapper
      .text
        h1 {{ selectedGroup.name }}
        .links
          button.link-button(@click="handleTeamMembers") {{ $t("RESULT.SEE_MEMBERS") }}
          button.link-button(@click="handleLeaveTeam") {{ $t("RESULT.LEAVE_TEAM") }}
      .actions
        button.text-and-icon
            include ../../assets/img/settings.svg
            span {{ $t("RESULT.TEAM_SETTING") }}
    .row
      h2(
        v-if="!nextVotingId"
      ) {{ $t("RESULT.LAST_POLL_RESULT") }}
      h2(
        v-if="nextVotingId"
      ) {{ $t("RESULT.POLL_RESULT") }}
      span.time(v-if="voting") {{ $d(voting.createdAtDateTime, 'long') }}
  .main-container
    .graphic-section.empty
      //- Remove Empty class if is not empty
      .title-container.title-container-full
        .title-wrapper
          .text
            h1 {{ selectedGroup.name }}
          .links
            button.link-button(@click="handleTeamMembers") {{ $t("RESULT.SEE_MEMBERS") }}
            button.link-button(@click="handleLeaveTeam") {{ $t("RESULT.LEAVE_TEAM") }}
          .actions
            button.text-and-icon
                include ../../assets/img/settings.svg
                span {{ $t("RESULT.TEAM_SETTING") }}


      .graphic-container
        VoteChart(
          :groupId="selectedGroup.id"
          :voting="voting"
        )
        .chart-placeholder(:if="!voting")
    .mood-section
      .mood-container
        .average-mood
          .title-container.title-container-large
            h2(
              v-if="voting && !nextVotingId"
            ) {{ $t("RESULT.LAST_POLL_RESULT") }}
            h2(
              v-if="voting && nextVotingId"
            ) {{ $t("RESULT.POLL_RESULT") }}
            h2(
              v-if="!voting"
            ) {{ $t("RESULT.NO_POLLS_YET") }}
          AverageMood(
            v-if="stats"
            :moodAverage="stats.average | numeral('0.0') "
            :averagePercentil="stats.voteAveragePercentile"
          )
          .arrow(
            v-if="previousVotingId"
            @click="handlePreviousVotingClick")
            include ../../assets/img/chevron.svg
          .arrow.reverse(
            v-if="nextVotingId"
            @click="handleNextVotingClick")
            include ../../assets/img/chevron.svg

        .participation-container
          .title-container.title-container-participation.date.no-margin
            span.time(v-if="voting") {{ $d(voting.createdAtDateTime, 'long') }}
          .participation-info(v-if="voting")
            //- Hide template if there is no data
            template
              .row
                .title {{ $t("RESULT.PARTICIPATION") }}
                .amount
                  span {{ stats ? stats.voteCount : '-' }}
                  span /
                  span {{ stats ? stats.maxVoteCountExpected : '-' }}
              .people {{ $t("RESULT.USUALLY") }} {{ stats ? stats.voteCountAverage : '-' }} {{ $t("RESULT.PEOPLE_PARTICIPATE") }}
            .participation
              template(v-if="!isExpired && didIVote") {{ $t("RESULT.ALREADY_VOTED") }}
              template(v-if="!isExpired && !voting.didIVote") {{ $t("RESULT.NOT_PARTICIPATE") }}
              template(v-if="isExpired") {{ $t("RESULT.PARTICIPATION_ENDED") }}
            router-link.button.primary.desktop(
              v-if="canShareMood"
              v-bind:to="{ name: 'team:vote', params: { groupId, votingId }}"
            ) {{ $t("RESULT.SHARE_MOOD") }}
            //- Show this when no votes
            router-link.button.primary.desktop(
              v-if="imFirst"
              v-bind:to="{ name: 'team:vote', params: { groupId, votingId }}"
            ) {{ $t("RESULT.BE_THE_FIRST") }}
      .mood-sorter-section(v-if="voting")
        MoodSorter(:stats="stats")
        .loading-holder(v-if="isLoading")
          Loader
  .list-container
    vote-list(v-if="voting" :voting="voting")
