//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

.group-detail
  .details
    .voting-days
      span.description {{ $t("VIEWS.GROUP_DETAIL.VOTING_DAYS_LABEL") }}
      span.value(data-testid="voting-days") {{ group.votingDays | toListOfDays }}
    .voting-time
      span.description {{ $t("VIEWS.GROUP_DETAIL.VOTING_TIME_LABEL") }}
      span.value(data-testid="voting-time") {{ group.votingTime | toTime }}
    .anonymous-vote
      span.description {{ $t("VIEWS.GROUP_DETAIL.ANONYMOUS_VOTE_LABEL") }}
      span.value.allowed(
        data-testid="anonymous-vote-allowed"
        v-if="group.anonymousVote"
      ) {{ $t("VIEWS.GROUP_DETAIL.ANONYMOUS_VOTE_ALLOWED_VALUE") }}
      span.value.deny(
        data-testid="anonymous-vote-deny"
        v-else
      ) {{ $t("VIEWS.GROUP_DETAIL.ANONYMOUS_VOTE_DENY_VALUE") }}

  transition(name="fade" mode="out-in")
    dw-group-stats.stats(
      v-if="group"
      data-testid="stats"
      v-bind:group="group",
      v-bind:start-date-time="statsStartDateTime"
      v-bind:end-date-time="statsEndDateTime"
    )

  transition(name="fade" mode="out-in")
    dw-group-member-list.members(
      v-if="group.visibleMemberList"
      data-testid="member-list"
      v-bind:group="group"
    )
