//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

form.add-member-form(
  data-testid="form"
  v-on:submit.prevent="handleSubmit"
)
  h2 {{ $t("ADD_MEMBER_FORM.TITLE") }}

  .error(data-testid="error" v-if="error" role="alert")
    | {{ $t(error) }}

  .email
    label(for="email") {{ $t("ADD_MEMBER_FORM.INPUT_EMAIL.LABEL") }}
    input(
      data-testid="email"
      id="email"
      name="email"
      type="email"
      v-bind:placeholder="$t('ADD_MEMBER_FORM.INPUT_EMAIL.PLACEHOLDER')"
      required
      v-model="input.email"
    )

  .actions
    button.cancel(data-testid="cancel" type="reset" v-on:click="handleCancel" v-if="handleCancel") {{ $t("ADD_MEMBER_FORM.BUTTON_CANCEL") }}
    button.submit(data-testid="submit" type="submit" v-bind:disabled="isLoading") {{ $t("ADD_MEMBER_FORM.BUTTON_SUBMIT") }}
